<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplifica Eventos</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/variables.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/navbar.css">
</head>
<body>
    <header>
        <div>
            <nav class="nav-list">
                <a class="link-logo" href="">
                    <img src="../../assets/img/logo-simplifica-eventos-white.svg" alt="Logo Simplifica Eventos" id="logo">
                </a>
                
                <ul class="list">
                    <li><a href="">HOME</a></li>
                    <li><a href="">SOBRE</a></li>
                    <li><a href="">SERVIÇOS</a></li>
                    <li><a href="">PACOTES</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <script>
        /* const logo = document.querySelector('#logo');
        console.log(logo);

        logo.addEventListener('mouseenter', () => {
            logo.src = '../../assets/img/logo-simplifica-eventos-black.svg';
            logo.addEventListener('mouseleave', () =>{
                logo.src = '../../assets/img/logo-simplifica-eventos-white.svg';
            });
        }); */
    </script>
</body>
</html>