<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <script>
        const getURL = window.location.search
        const arrayGet = getURL.split('=', 10);     
        
        if(!(arrayGet[0] === '?successes') && !(arrayGet[1] === 'true')){
            console.log('teste');
        }else{
               
        }
    </script>
</body>
</html>