@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

a, span{
    color: var(--color-light);
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    
}
span{
    display: flex;
    align-items: center;
}

header .nav-list{
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--bg-color-elements);
}


header .nav-list .link-logo img{
    width: 105px;
    margin-top: -17px;
    margin-left: 30px;
    transition: 0.5s;
}
header .nav-list a img:hover{
    transform: scale(1.07);
}

header .nav-list .list{
    display: flex;
    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
    margin-right: 100px;
}

header .nav-list .list li{
    text-align: center;
    position: relative;
    list-style: none;
}

header .nav-list .list li.item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -1px;
    left: 0px;
    background: var(--color-light);
    transform: scaleX(0);
    transition: all .4s ease-in-out;
    transform-origin: left;
}
header .nav-list .list li.item:hover::after{
    transform: scale(1);
}

/* SUB LIST */

.list .dropdown .sub-list{
    position: absolute;
    width: 150px;
    background: var(--bg-color-elements);
    border-radius: 10px;
    top: 30px;
    left: -38px;
    opacity: 0;
    transition: .3s;
}
.list .dropdown:hover .sub-list{
    border-radius: 10px;
    opacity: 1;
}
.list .dropdown .sub-list li{
    margin: 20px;
}

.list .dropdown:hover .sub-list li:hover{
    transform: scale(1.05);
    letter-spacing: 1.4px;
}