@media screen and (min-width: 200px) and (max-width: 780px) {  
   header.active{
      width: 100vw;
      height: 100%;
      font-size: 22px;
   }
   header .nav-list{
      width: 100vw;
      background: none;
      justify-content: center;
      transition: 1s;
   }
   header .nav-list .list{
      display: none;
   }
   header .nav-list .link-logo img{
      margin: 20px;
      background: var(--bg-color-primary);
      border-radius: 50%;
      transition: 1s;
      z-index: 10;
   }

   header .nav-list.active .link-logo img{
      transition-delay: 0.6s;
      margin: 0;
      background: none;
      width: 150px;
   }

   header .nav-list.active{
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 250px;
      height: 100%;
   }

   header .nav-list.active .list{
      display: flex;
      flex-direction: column;
      margin: 0;
   }

   #toggle {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background: var(--bg-color-primary);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0px 4px 5px rgb(0 0 0 / 40%);
      z-index: 400;
   }
   
   #toggle::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background: #fff;
      transform: translateY(-5px);
      transition: 0.2s;
   }
   
   #toggle::after{
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background: #FFF;
      transform: translateY(5px);
      transition: 0.2s;
   }
   
   #toggle.active::before{
      transform: translateY(0px) rotate(45deg); 
   }
   #toggle.active::after{
      transform: translateY(0px) rotate(-45deg);
   }
   
   #sidebar{
      position: fixed;
      top: 0;
      width: 250px;
      height: 100vh;
      transition: .5s;
      
   }
   #sidebar.active{
      background: var(--bg-color-primary);
      z-index: 10;
   }
}