*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

header .nav-list{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--bg-color-primary);
    position: fixed;
    z-index: 100;
}

/* header .nav-list.teste{
    background: var(--bg-color-primary);
} */

header .nav-list a, header .nav-list span{
    color: var(--color-light);
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}
span{
    display: flex;
    align-items: center;
}

header .nav-list .link-logo img{
    width: 115px;
    margin-top: -18px;
    margin-left: 30px;
    transition: 0.5s;
}

header .nav-list a img:hover{
    transform: scale(1.07);
}

header .nav-list .list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin: 0;
    margin-right: 100px;
}

header .nav-list .list li{
    text-align: center;
    position: relative;
    list-style: none;
}

header .nav-list .list li.item::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -1px;
    left: 0px;
    background: var(--color-light);
    transform: scaleX(0);
    transition: all .4s ease-in-out;
    transform-origin: left;
}
header .nav-list .list li.item:hover::after{
    transform: scale(1);
}