@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --bg-color-elements: linear-gradient(45deg,#5190e4, #0654bb, #00295f);
    --bg-color-error: linear-gradient(45deg,#f55e5e, #f31a1a, #8f0303);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, #417dca 10%, #0c2f5a 70%, #01142c 96%);
    overflow: hidden;
}

/* Site header  */
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}
header img{
    width: 8em;
    border-radius: 50%;
}
header:hover img{
    background-color: black;
    cursor: pointer;
    transition: 0.2s;
}
header:hover .nav-menu .nav-list{
    width: 20vw;
    display: flex;
    align-items: center;
    transition: 1s;  
}
.nav-menu{
    display: flex;
    justify-content: space-around;
}
.nav-list{
    display: none;
    list-style: none; 
}
.nav-menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-menu li a{
    text-decoration: none;
    color: #FFF;
}



main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

section{
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px auto;
}

.container-form{
    width: 25vw;
    height: 650px;
    padding: 0px 3rem;
    background-color: #FFF;
    box-shadow: rgb(250, 250, 250) 0px 10px 25px -5px;
    border-radius: 10px;
}
.container-form h1{
    text-align: center;
    font-size:  3em;
    font-weight: 600;
    margin: 20px 0px;
}

/* Configurando posição, tamanho e aparencia dos input's and label's */
.input-field {
    position: relative;
	min-width: fit-content;
}
.input-field input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 1em;
    padding: 20px 5px;
    margin-bottom: 40px;

    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7); 
    border: none;
    background: transparent;
    background-color: transparent;
}
.input-field input ~ label{
    position: absolute;
    top: 8px;
    left: 5px;

    font-size: 0.87rem;
    transition: 0.4s;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label{
    transform: translateY(-25px);
    left: 0;
    font-size: 0.96rem;
}
/* Fim da configuração dos input's and label's */

/* Configuração do underline dos input's */
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: var(--bg-color-elements);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin:left;
}
.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}
/* Fim da configuração do underline dos input's */

.input-field img{
    position: absolute;
    left: 90%;
    bottom: 25%;
    width: 1.4em;
    cursor: pointer;
}
.input-field .input-password{
    /* width: 90%; */
    padding-right: 2.8em;
    height: inherit;
}


/* Configurando o botão do formulário */
.btnSubmit{
    width: 15em;
    height: 3.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;

    font-size: 0.8rem;
    color: #0c2f5a;
    background: transparent;
    cursor: pointer;

    border: 1px solid #0c2f5a;
    border-radius: 5px;
    transition: 0.5s;
}
.btnSubmit.btnHover:hover {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    background: var(--bg-color-elements);
	color: #fafafa;
}
.btnSubmit:active{
    background-color: #022c63;
}
.btnSubmit:disabled{
    color: #FFF;
    border: none;
    background-color: #acacac;
    cursor: not-allowed;
}
.btnSubmit ion-icon{
    font-size: 2em;
}
.btnSubmit span{
    padding: 10px;
    font-size: 1.3em;

}
/* Fim da configuração do bottão */

.section-one img{
    margin-left: 100px;
    width: 600px;
    max-width: 700px;
    align-self: center;
}

.underline.error::after{
    background: var(--bg-color-error);
}

/* Responsive */
@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .container-form{
        width: 25vw;
        min-width: 390px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1366px){
    .container-form{
        width: 30vw;
        min-width: 390px;
    }
    .container-form h1{
        font-size: 2.8em;
    }
    .section-one img{
        transition: 1s;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .container-form{
        width: 33vw;
        min-width: 370px;
    }
    .container-form h1{
        font-size: 2.8em;
    }
    .section-one img{
        width: 500px;
        transition: 1s;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .container-form{
        width: 50vw;
        height: 70vh;
    }
    .container-form h1{
        font-size: 2.8em;
    }
    .section-one{
        min-width: 0px;
        min-height: 0px;
        display: none;
        transition: 0.8s;
    }
    section{
        margin: 10% 15.5%;
    }
    .input-field{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px){
    section{
        position: absolute;
        left: 15%;
        bottom: -15px;
    }
    .section-one{
        transform: scale(0);
    }
    .container-form{
        width: 65vw;
        min-width: 350px;
    }
}