<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro - Simplifica Eventos</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <img src="logo.png" alt="Logo Simplifica Eventos">
        </header>

        <main>
            <section class="section-one">
                <img src="../assets/img/register.svg" alt="ilustaração de cadastro">
            </section>

            <section class="section-two">

                <div class="container-form">
                    <h1>Cadastro</h1>

                    <form action="../php/RegisterUser.php" method="POST">
                            <div class="input-field">
                                <input id="name" type="text" name="name" autocomplete="off" required>   
                                <label for="name">Nome</label>
                                <div class="underline"></div>
                            </div>

                            <div class="input-field">                               
                                <input id="cpf" type="text" name="cpf" autocomplete="off" required>
                                <label for="cpf">CPF ou CNPJ</label>
                                <div class="underline"></div>
                            </div>

                            <div class="input-field">
                                <input id="email" type="email" name="email" required>
                                <label for="email">E-mail</label>
                                <div class="underline"></div>
                            </div>

                            <div class="input-field">                              
                                <input id="password" type="password" name="password" required>
                                <label for="password">Senha</label>
                                <div class="underline"></div>
                            </div>

                            <div class="input-field">                              
                                <input id="passwordConf" type="password" name="passwordConf" required>
                                <label for="passwordConf">Confirmar senha</label>
                                <div class="underline error"></div>
                            </div>

                            <button id="button" type="submit">
                                <ion-icon name="document-lock-outline"></ion-icon><span>Cadastrar</span>
                            </button>
                    </form>
                </div>
            </section>
        </main>


        <script src="../assets/js/register.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>