<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Simplifica Eventos</title>
    
    <link rel="stylesheet" type="text/css" href="./../assets/css/variables.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/navbar_mobile.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/landingPage.css">

    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <div id="toggle"></div>
    <div id="sidebar">
        <header>
            <nav class="nav-list" id="nav-bar">
                <a class="link-logo" href="#start">
                    <img src="./../assets/img/logo-simplifica-eventos-white.svg" alt="Logo Simplifica Eventos"
                        id="logo">
                </a>

                <ul class="list">
                    <li class="item"><a href="#home">HOME</a></li>
                    <li class="item"><a href="">SOBRE</a></li>
                    <li class="dropdown">
                        <a href="#services">
                            <span>SERVIÇOS</span>
                        </a>
                        <!-- <ul class="sub-list">
                            <li class="sub-list_item"><a href="">SERVIÇO 1</a></li>
                            <li class="sub-list_item"><a href="">SERVIÇO 2</a></li>
                            <li class="sub-list_item"><a href="">SERVIÇO 3</a></li>
                        </ul> -->
                    </li>
                    <li class="item"><a href="">PACOTES</a></li>
                    <li class="item"><a href="./loginUser.php">LOGIN</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <section class="section-one" id="start">
        <div class="background-img">
            <h1 class="scrollReveal">SIMPLIFICA EVENTOS</h1>
        </div>
    </section>
    
    <section class="section-two" id="home">
        <div class="home">
            <div class="text">
                <h2 class="scrollReveal-left">
                    Simplifique e torne seu Evento mais dinâmico.
                </h2>

                <p class="scrollReveal-left">
                    Buscando uma maior diversidade e acessibilidade a todos, a <strong>Simplifica Eventos</strong> visa facilitar e melhorar a meneira que você organiza seus eventos.
                </p>

                <div class="section-two__btn scrollReveal-bottom">
                    <a href="">Agende seu Evento</a>
                </div>
            </div>

            <img class="home-img scrollReveal-right" src="./../assets/img/event-illustration.svg" alt="">

        </div>
    </section>

    <div class="division"></div>
    
    <section class="section-three" id="services">
        
        <div class="cantainer-services">
            <div class="center">
                <h2>Por que usar a <span> Simplifica Eventos?</span></h2>
            </div>
            
            <div class="services">
                <div class="service item__1">
                    <div class="center">
                        <img src="./../assets/img/serviços/moments.svg" alt="">
                    </div>

                    <h3>Fotos e Vídeos</h3>
                    <p>fotógrafo e/ou filmmaker registrando cada momento do seu evento.</p>
                </div>

                <div class="service item__2">
                    <div class="center">
                        <img src="./../assets/img/serviços/food.svg" alt="">
                    </div>

                    <h3>Buffet</h3>
                    <p>serviço de comidas como salgados, bolos, petiscos, e muito mais.</p>
                </div>

                <div class="service item__3">
                    <div class="center">
                        <img src="./../assets/img/serviços/moments.svg" alt="">
                    </div>

                    <h3>Animador de Festa</h3>
                    <p>Escolha o personagem preferido da criançada para deixar a festa mais especial.</p>
                </div>

                <div class="service item__4">
                    <div class="center">
                        <img src="./../assets/img/serviços/space-location.svg" alt="">
                    </div>

                    <h3>Espaço para Eventos</h3>
                    <p>Escolha dentre chácaras, clubes, salões e muito mais.</p>
                </div>
                
                <div class="service item__5">
                    <div class="center">
                        <img src="./../assets/img/serviços/music.svg" alt="">
                    </div>

                    <h3>Serviços de Som</h3>
                    <p>Microfones e Caixas de Som para seu evento.</p>
                </div>
                
                <div class="service item__6">
                    <div class="center">
                        <img src="./../assets/img/serviços/moments.svg" alt="">
                    </div>

                    <h3>Decorações</h3>
                    <p>Personalize o espaço do seu evento, escolha o que melhor combina com ele</p>
                </div>
            </div>
        </div>

    </section>

    <script src="./../assets/js/navbar_mobile.js"></script>
    <script src="./../assets/js/register.js"></script>
    <script src="./../assets/js/scrollReveal.js"></script>
    
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>