<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro - Simplifica Eventos</title>
        
        <link rel="stylesheet" type="text/css" href="./../assets/css/variables.css">
        <link rel="stylesheet" type="text/css" href="./../assets/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="./../assets/css/navbar_mobile.css">
        <link rel="stylesheet" type="text/css" href="./../assets/css/landingPage.css">
        <link rel="stylesheet" type="text/css" href="./../assets/css/add_Event.css">
    </head>
<body>
    <div id="toggle"></div>
    <div id="sidebar">
        <header>
            <nav class="nav-list" id="nav-bar">
                <a class="link-logo" href="#start">
                    <img src="./../assets/img/logo-simplifica-eventos-white.svg" alt="Logo Simplifica Eventos"
                        id="logo">
                </a>

                <ul class="list">
                    <li class="item"><a href="">HOME</a></li>
                    <li class="item"><a href="">SOBRE</a></li>
                    <li class="item"><a href="#services"><span>SERVIÇOS</span></a></li>
                    <li class="item"><a href="">PACOTES</a></li>
                    <li class="item"><a href="./loginUser.php">LOGIN</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-agenda">
        <form class="form_agenda">

            <div class="box-agenda">

                <div class="input-box">
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="animador" value="animador">
                        <label class="cards" for="animador"><img src="../assets/img/serviços/fest-animation.svg" alt="">Animador de Festa</label>
                        <div class="checked"></div>
                    </div>

                    <div class="input-option">
                        <div class="option">
                            <label for="homem-aranha">Homem-aranha</label>
                            <input type="checkbox" id="homem-aranha">
                        </div>

                        <div class="option">
                            <label for="super-man">Super-Man</label>
                            <input type="checkbox" id="super-man">
                        </div>

                        <div class="option">
                            <label for="super-man">Super-Man</label>
                            <input type="checkbox" id="super-man">
                        </div>

                        <div class="option">
                            <label for="mickey-mouse">Mickey Mouse</label>
                            <input type="checkbox" id="mickey-mouse">
                        </div>

                        <div class="option">
                            <label for="mickey-mouse">Mickey Mouse</label>
                            <input type="checkbox" id="mickey-mouse">
                        </div>

                        <div class="option"  style="background-color: pink; color: var(--color-dark);">
                            <label for="cinderela" >Cinderela</label>
                            <input type="checkbox" id="cinderela">
                        </div>

                        <div class="option"  style="background-color: pink; color: var(--color-dark);">
                            <label for="branca-de-neve" >Branca de Neve</label>
                            <input type="checkbox" id="branca-de-neve">
                        </div>

                        <div class="option"  style="background-color: pink; color: var(--color-dark);">
                            <label for="chapeuzinho" >Chapeuzinho</label>
                            <input type="checkbox" id="chapeuzinho">
                        </div>

                        <div class="option"  style="background-color: pink; color: var(--color-dark);">
                            <label for="ms-marvel" >Ms. Marvel</label>
                            <input type="checkbox" id="ms-marvel">
                        </div>
                    </div>
                </div>

                <div class="input-box" >
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="photograph" value="fotografo">
                        <label class="cards" for="photograph"><img src="../assets/img/serviços/moments.svg" alt="">Fotografo</label>
                        <div class="checked"></div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="space-location" value="local">
                        <label class="cards" for="space-location"><img src="../assets/img/serviços/space-location.svg" alt="">Local Para Evento</label>
                        <div class="checked"></div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="comida" value="bufert">
                        <label class="cards" for="comida"><img src="../assets/img/serviços/food.svg" alt="">Bufert</label>
                        <div class="checked"></div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="musica" value="musica">
                        <label class="cards" for="musica"><img src="../assets/img/serviços/music.svg" alt="">Musica</label>
                        <div class="checked"></div>
                    </div>
                </div>
                
                <div class="input-box">
                    <div class="input-agenda">
                        <input type="checkbox" name="" id="decoracao" value="decoracao">
                        <label class="cards" for="decoracao"><img src="../assets/img/serviços/organizer.svg" alt="">Decorador</label>
                        <div class="checked"></div>
                    </div>
                </div>
            
            </div>

            <div class="box-form">
                <div class="input-form">
                    <label for="nome-evento">Nome do Evento:</label>
                    <input type="text" name="nome-evento" id="nome-evento" required autocomplete="off">
                </div>

                <div class="input-form">
                    <label for="data-evento">Data do Evento:</label>
                    <input type="date" name="" id="data-evento" required>
                </div>
            </div>

            <button type="submit" class="btn-agendar" id="btn-agendar" name="btn-agendar">Criar Evento</button>
        </form>
    </div>

 

    <script src="./../assets/js/navbar_mobile.js"></script>
    <script src="./../assets/js/script.js"></script>
    
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>